* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$textColor: hsl(0, 0%, 95%);
$background: hsl(200, 60%, 15%);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background;
}

.container {
  display: flex;
  flex-direction: column;
  width: min(800px, 90%);
  text-align: center;
  gap: 5rem;
  color: $textColor;
}

.runningScore,
.output {
  font-size: 2rem;
  font-weight: bold;
  gap: 5rem;
}

.runningScore {
  display: flex;
  justify-content: space-between;
}

.output {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.choices {
  font-size: 4rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: $textColor;

  &:hover {
    cursor: pointer;
  }

  .icons {
    transition: transform 200ms ease-in;

    &:hover {
      transform: scale(1.2);
    }
  }
}
